* {
  font-family: 'Open Sans', sans-serif;
}

.UserList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.title {
  margin: 20px 20px 0px 20px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  float: right;
  cursor: pointer;
  font-size: 12px;
  width: 110px;
  padding: 5px 10px;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 5px;
  color: white;
}

.delete-button {
  background-color: rgb(199, 34, 34);
  margin: 0px 20px
}


/*   NEW USER  */

.title-form {
  margin: 50px 20px 0px 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.new-button {
  background-color: rgb(23, 122, 23);
}

.new-user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
}

.NewUserForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 350px;
  margin: 20px auto;
  border: solid 2px rgb(230, 230, 230);
  padding: 10px 20px;
}

.add-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.new-user label {
  margin: 5px;
  width: 90px;
  display: inline-block;
}

.new-user input {
  margin: 5px 5px 5px 5px;
  display: inline-block;
  width: 140px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}


/*  warnings */

/* .NewUserForm .form-ok {
  border: 1px solid #9ae6b4;
} */

/* .NewUserForm .form-incomplete {
  border: 1px solid #fc8181;
} */

/* .NewUserForm .remaining-characters {
  color: #555;
} */