.User {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 2px rgb(230, 230, 230);
  border-radius: 10px;
  margin: 20px;
  padding: 20px 25px 20px 25px;
  min-height: 230px;
  width: 400px;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.user-space {
  margin: 5px 0px 20px 0px;
}

.space {
  margin-bottom: 10px;
}

.subject {
  font-weight: bold;
}

.text {
  font-weight: normal;
}

.catchphrase {
  padding-left: 83px;
  margin-bottom: 10px;
  font-style: italic;
}

/* MODE  */

.edit-button {
  background-color: rgb(14, 111, 141);
  position: absolute;
  right: 80px;
  top: 20px;
  width: 45px !important;
}

.save-button {
  background-color: rgb(89, 185, 89);
  position: absolute;
  right: 80px;
  top: 20px;
  width: 45px !important;
}

.del-button {
  background-color: rgb(197, 83, 83);
  position: absolute;
  right: 15px;
  top: 20px;
  width: 60px !important;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* FORM  */

.name-form {
  margin-bottom: 3px;
  font-size: 13px;
}

.space-left {
  margin-left: 20px;
}

.input-user {
  margin-bottom: 10px;
}

.input-name {
  width: 200px;
}

.input-street {
  width: 260px;
}

.input-city {
  width: 130px;
}

.input-suite {
  margin-right: 15px;
}

.input-phrase {
  width: 200px;
}

.input-site {
  width: 200px;
  margin-bottom: 0px;
}
