.User {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 2px rgb(230, 230, 230);
  margin: 20px;
  padding: 20px;
  width: 400px;
  background-color: white;
}

.bold {
  font-weight: bold;
}

.space {
  margin-bottom: 10px;
}

.subject {
  font-weight: bold;
}

.text {
  font-weight: normal;
}

.catchphrase {
  padding-left: 83px;
  margin-bottom: 10px;
  font-style: italic;
}

 /* MODE  */

 .edit-button {
   background-color: rgb(14, 111, 141);
   position: absolute;
   right: 80px;
   width: 45px !important;
 }

 .save-button {
  background-color: rgb(89, 185, 89);
  position: absolute;
  right: 80px;
  width: 45px !important;
}

 .del-button {
  background-color: rgb(197, 83, 83);
  position: absolute;
  right: 15px;
  width: 60px !important;
}


.show {
  display: block;
}

.hidden {
  display: none;
}

 /* FORM  */

.name-form {
  margin-bottom: 3px;
  font-size: 12px;
}

.space-left {
  margin-left: 20px;
}

.input-street {
  width: 261px;
}

.input-city {
  width: 150px;
}

.input-suite {
  margin-right: 15px;
}

.input-phrase {
  width: 200px;
}

.input-site {
  width: 200px;
  margin-bottom: 0px;
}